@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: .7rem;
}

::-webkit-scrollbar-thumb {
    background: #111111;
}

::-webkit-scrollbar-track {
    background: white;
}

button {
    outline: none
}