@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    background: #000;
}

::-webkit-scrollbar-thumb {
    width: 5rem;
    background: #000;
}

::-webkit-scrollbar-track {
    background: #000;
}